<div class="row justify-content-center">
  <div class="col-5 bg-block-form">
    <div class="padding-intern">
      <%= form_with(scope: :session, url: login_path,local: true) do |f| %>

        <%= f.label :email, class: "form-label"%> <br>
        <%= f.email_field :email, class: "form-control"%>

        <%= f.label :password, class: "form-label"%> <br>
        <%= f.password_field :password, class: "form-control"%>
        
        <div class="d-flex justify-content-between">
          <%= f.submit "Login", class: "btn btn-form btn-dark" %>
          <span class="align-self-end span-form">caso não tenha uma conta clique <%= link_to 'aqui', signup_path, class: "purple-link" %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>