<div class="col-12">
  <% @articles.each do |article| %>
    <h1 class="title-font"> <%= article.title %> </h1>
    <p class="subtitle">by <%= link_to article.user.username, user_path(article.user), class: "article-link" %> </p>
    <p> <%= article.description ... %> 
      <%= link_to 'Ler mais', article_path(article), class: "purple-link" %>
    </p>
      <!--
    <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= link_to 'Edit', edit_article_path(article) %>
      -->
  <% end %>
</div>

<%= link_to 'Create new article', new_article_path %>