<h1 class="title-font"> <%= @article.title %> </h1>
<p class="subtitle">
  por <%=link_to @article.user.username, user_path(@article.user), class: "link-no-style" %> 
</p>
<% if @article.categories.any? %>
  <p class="categories-link"><%= render @article.categories %></p>
<% end %>
<p> <%= @article.description %> </p> 

<% if logged_in? && (current_user == @article.user || current_user.admin?)%>
  <%= link_to 'Edit', edit_article_path(@article),class: "link-button" %>
  <%= link_to 'Delete', @article, method: :delete, data: {confirm: "Are you sure?"}, class: "link-button" %>
<% end %>
<% link_to 'Return to articles', root_path %>