<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :username, class: "form-label"%> <br>
  <%= f.text_field :username, placeholder: "Digite um username", class: "form-control"%>

  <%= f.label :email, class: "form-label"%> <br>
  <%= f.email_field :email, class: "form-control"%>

  <%= f.label :password, class: "form-label"%> <br>
  <%= f.password_field :password, class: "form-control"%>
  
  <div class="d-flex justify-content-between">
    <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-form btn-dark") %>
    <span class="align-self-end span-form">caso jรก tenha uma conta clique <%= link_to 'aqui', login_path, class: "purple-link" %></span>
  </div>
<% end %>