<div class="row justify-content-center">
  <div class="col-4 user-card text-center">
      <h1 class="user-card-title"> <%= @user.username %></h1>
      <%= gravatar_for @user, size: 200 %>
      <% if logged_in? && @user == current_user %>
        <div class="user-card-btn d-flex mx-auto">
          <%= link_to  "Editar seu perfil", edit_user_path(@user), class: "btn btn-edit-user btn-outline-dark" %>
          <%= link_to 'Criar um artigo', new_article_path, class: "btn btn-create-article btn-outline-dark" %>
        </div>
      <% end %>
  </div>  
</div>

<%= render 'articles/article' %>

<div class="pagination-style">
  <%= will_paginate @articles, :container => false %>
</div>